@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

        * {
            font-family: 'Inter', sans-serif;
        }

        .btn {
            background-color: #FF1F3D;
            color: white;
            padding: 4px 16px;
        }

        .gray {
            background-color: rgba(37, 37, 37, 0.20);
            color: #252525;
            padding: 4px 16px;

        }

        .light_gray {
            background-color: rgba(37, 37, 37, 0.15);
            color: rgba(37, 37, 37, 0.70);
            padding: 4px 16px;

        }

        .active {
            background-color: #FF1F3D;
            color: white;
        }